{% extends 'layout.twig' %}

{% block body %}
{% include "topnav.twig" %}
<a href="/court/add">ADD</a><br>
{% for court in courts %}
<a href="/court/edit/{{court._id}}"> {{court._id}}</a>
<h1>{{court.name}}</h1>
<form method=POST action="/court/delete/{{court._id}}">
<button type="submit">borrar</button>
</form>
{% endfor %}

{% endblock %}