{% extends 'layout.twig' %}

{% block body %}
<h3>Partidos promocionados</h3>
{% for promo in promos %}
<h1>{{promo.title}}{{promo.numPlayers}}</h1><h5>{{promo.date}}</h5>
<form method=post action="/promotedInscription/add/{{promo._id}}">

    <button type="submit">Inscribirse</button> 
</form>
{% endfor %}

{% endblock %}