<header>
  <!--The check has to go here so that you don't see any part of the header in case there is no user.-->
  {% if user %}
  <div class="header" id="myHeader">
    <div class="logo-container">
      <a href="/" class="logo">PadelGest</a>
    </div>
    <div class="header-right">
      <span id="show-user-connected-container">Usuario: {{ user.login }}</span>
      <div class="header-icons-container">
        <div class="icons-text-container">
          <a href="/user/edit/{{user.id}}"><img src="/static/icons/user.svg" alt="Perfil"/></a>
          <span>Mi perfil</span>
        </div>
        <div class="icons-text-container">
          <a href="/auth/logout"
            ><img src="/static/icons/logout.svg" alt="Desconectarse"
          /></a>
          <span>Desconectarse</span>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</header>
