{% extends 'layout.twig' %}

<!--Body container index view-->
{% block body %}

<!--If user is not logged show this block-->
{% if not user %}
<div class="index-notLogged-container">
  <div class="index-notLogged-text-container">
    <span>Bienvenido a PadelGest</span>
    <p>Estás intentando acceder a la página sin estar autenticado.</p>
    <p>
      Por favor accede mediante tu <a href="auth">login</a> o
      <a href="/user/register">regístrate</a>
    </p>
  </div>
</div>

<!--If user is logged show this block-->
{% else %} {% include "navbar.twig" %}
<div class="logged-user-index-container">
  <h2>Disfruta del mejor pádel en PadelGest</h2>
  <p>
    El pádel es un deporte de raqueta de origen mexicano. Se juega en parejas y
    consta de tres elementos fundamentales para su desarrollo: la pelota, la
    pala y el campo de juego o pista. Consiste en hacer botar la bola en el
    campo contrario antes de impactar con las paredes y/o verja (excepto en el
    servicio). El jugador o jugadores opuestos deben devolver la bola con un
    golpe, cumpliendo con un máximo de un bote para golpearla.
  </p>
  <img src="/static/img/padel-index.png" alt="Padel" />
  <p>
    Este deporte fue inventado en Acapulco, México, por Enrique Corcuera hacia
    1962.3​ Pero tuvo gran impacto en los años 80's en Argentina impulsado por
    jugadores de la talla de Alejandro Lasaigues, Gatikker, Sanz, Novillo,
    Cubas, etc. Tras su popularidad en diversos países americanos, se
    constituyen federaciones de pádel en Argentina (1988), México (1991),
    Uruguay (1991), Paraguay (1992), Estados Unidos (1993), Canadá (1993),
    Brasil (1994) a la par de su difusión en países de Centroamérica. De acuerdo
    a la FEMEPA, para 1997 estaban inscritos tan solo en México más de 4000
    deportistas oficiales de pádel y un número superior a 300 canchas de este
    deporte mexicano a nivel nacional.
  </p>
  <p>
    Innovaciones importantes para el pádel ocurrieron en Argentina en 1989: con
    el diseño y creación del técnico platense Jorge Galeotti surge algo que
    revoluciona la práctica y difusión de este deporte: el Crystal Palace, la
    primera cancha de vidrio desmontable y transportable del mundo. Su debut se
    produce en Mar del Plata, con un éxito total, sumado a que las transmisiones
    televisivas toman una dimensión extraordinaria de 100% visibilidad del
    juego. El mismo año, debido al inconveniente de las vibraciones de la pala
    de madera con la que hasta entonces se jugaba, el argentino Carlos Pérez
    presenta en el mercado su paleta de goma (SANE- Sistema Antivibratorio de
    Núcleo Elástico), la primera paleta de goma del mundo. Una paleta cuya
    característica principal era la de absorber 100% las vibraciones,
    “silenciar” el sonido a madera e imprimirle a la pelota potencia y efectos
    nunca antes visto en una cancha de pádel.
  </p>
  <p>
    Aún sin desaparecer la organización Pádel Pro Tour (PPT), en 2012 se creó
    World Pádel Tour (WPT) con todos los requisitos necesarios, incluyendo la
    firma de los cien mejores jugadores de pádel del mundo. En 2013 comenzó el
    primer circuito World Padel Tour, el cual pasó a ser la principal
    competición profesional de pádel.10​ Pádel Pro Tour, antes del primer torneo
    WPT celebrado en abril de 2013,11​ presentó en Madrid una demanda judicial
    contra la Asociación de Jugadores Profesionales de Pádel (AJPP) por
    considerar vulnerado el acuerdo existente entre ambas entidades para el
    desarrollo del circuito profesional de pádel,12​ y solicitó como medida
    cautelar la suspensión del WPT. El 15 de abril de 2013, el Juzgado de
    Primera Instancia n.º 40 de Madrid dictó un auto en el que denegaba dicha
    paralización al considerar que no había garantizado las pretensiones de la
    sociedad demandante.13​ Actualmente (2019) este deporte se practica en más
    de 75 países, habiendo hasta el presente 35 federaciones nacionales de pádel
    distribuidas en los cinco continentes.14​ Tiene popularidad en México,
    Argentina, Brasil, España, Canadá, Estados Unidos, Paraguay, Uruguay, Chile,
    Reino Unido y Portugal, y cierta aceptación en países como Alemania y
    Emiratos Árabes. El World Padel Tour (WPT) es el circuito mundial más
    importante, junto con los campeonatos mundiales.10​
  </p>
  
</div>

{% endif %} {% endblock %}
