{% extends 'layout.twig' %}

{% block body %}
{% if not user %}
  <h1>{{title}}</h1>
  <p>Bienvenido a {{title}}</p>
  <a href="/auth">Login</a>
  <a href="/user/register">Registro</a>


{% else %}
  <p>Bienvenido {{user.login}}</p>
  <a href="/auth/logout">Desconectar</a>
{% endif %}
{% endblock %}
