<!DOCTYPE html>
<html>
    <head>
        <title>PadelGest</title>
        <!--CSS styles link-->
        <link rel="stylesheet" type="text/css" href="/static/css/login-register_styles.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/layout_styles.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/index_styles.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/navbar_styles.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/header_styles.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/blog_styles.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/tournament_styles.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!--JS scripts-->
        <script src="/static/js/login-register.js"></script>
        <script src="/static/js/header-navbar.js"></script>
        <script src="/static/js/modal.js"></script>
        <!--Fonts link-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <script src="/node/jquery/dist/jquery.js"></script>
        <link href="/node/@chenfengyuan/datepicker/dist/datepicker.css" rel="stylesheet">
        <script src="/node/@chenfengyuan/datepicker/dist/datepicker.js"></script>
        <!--JS link-->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js" integrity="sha256-nZaxPHA2uAaquixjSDX19TmIlbRNCOrf5HO1oHl5p70=" crossorigin="anonymous"></script>
    </head>
        {% if user %}
            <header>
                {% include "header.twig" %}
            </header>
        {% endif %}

        <body>
            <div class="body-container">
                <!--Use expressFlash to show errors-->
                {% if expressFlash %}
                    <h1>{{ expressFlash }}</h1>
                    <h1>{{ sessionFlash }}</h1>
                {% endif %}
                {% block body %}{% endblock %}
            </div>
        </body>

        {% if user %}
            <footer>
                {% include "footer.twig" %}
            </footer>
        {% endif %}
    </html>
