<div class="topnav" id="myTopnav">
    <a href="/">Inicio</a>
    <a href="promoted/showAll">Partidos Promocionados</a>
    <a href="/tournament/showAll">Campeonatos</a>
    <a href="#">Mis partidos</a>
    <a href="#">Mis campeonatos</a>
  
    <a href="javascript:void(0);" class="icon" onclick="topnavDisplay()">
      <i class="fa fa-bars"></i>
    </a>
  </div>