{% extends 'layout.twig' %}

{% block body %}

<div class="login-container">
  <div class="form">
    <ul class="tab-group">
      <li class="tab">
        <a href="/auth">Entra</a>
      </li>
      <li class="tab active">
        <a href="/user/register">Regístrate</a>
      </li>
    </ul>
    <div id="signup"></div>
    <h1>Regístrate en PadelGest</h1>
    <form action="/user/register" method="POST">
      <div class="field-wrap">
        <input  name="login" type="text" placeholder="Login" required autocomplete="off" />
      </div>
      <div class="field-wrap">
        <input name="passwd" type="password" placeholder="Contraseña" required autocomplete="off" />
      </div>
      <div class="field-wrap">
        <input name="name" type="text" placeholder="Nombre" required autocomplete="off" />
      </div>
      <div class="field-wrap">
        <input name="dni" type="text" placeholder="DNI" required autocomplete="off" />
      </div>
      <div class="field-wrap">
        <input name="gender" type="text" placeholder="Género" required autocomplete="off" />
      </div>
      <button type="submit" class="button button-block"/>Unirse</button>
    </form>
  </div>
  <!-- tab-content -->
</div>


{% endblock %}