{% extends 'layout.twig' %}

{% block body %}
<div class="register-container">
  <form method=POST action="/user/register">
  <input name="login">login</input>
  <input name="passwd">passwd</input>
  <input name="name">name</input>
  <input name="dni">dni</input>
  <input name="gender">genero</input>
  <button> click </button>
</div>
</form>
{% endblock %}