{% extends 'layout.twig' %}

{% block body %}
{% include "topnav.twig" %}
{% for inscription in inscriptions %}
<h3>{{inscription.user1_id}}</h3>
<!-- <form method=post action="/inscription/tournament/{{tournament._id}}">
<button type="submit">borrar</button> 
</form>-->
<form method=post action="/inscription/delete/{{inscription.id}}">
<button type="submit">borrar</button> 
</form>
{% endfor %}

{% endblock %}