{% extends 'layout.twig' %}
{% include "header.twig" %}

{% block body %}
{% include "navbar.twig" %}
<div class="tournament-showall-container">
  <h3>Partidos a los que estas inscrito</h3>
  <div class="tournament-wrapper">

    {% for promo in myPromotedInscriptions %}
    <div class="tournament-container card-container">
      {% if promo.granted %}
      <small> Reserva para el partido confirmada</small>
      {% endif %}

      <h3>{{promo.title}}</h3>
      <h5>{{promo.date}}</h5>
      <a href="/promoted/show/{{promo._id}}">
        <button>
          <div class="tournament-showall-edit">
            <img src="/static/icons/Detalle.svg" alt="detalle">
            <span>Ver inscritos</span>
          </div>
        </button>
      </a>
      <form method="post" action="/promotedInscription/delete/{{promo._id}}">
        <button type="submit">
          <div class="tournament-showall-delete">
            <img src="/static/icons/Delete.svg" alt="delete">
            <span>Cancelar inscripción</span>
          </div>
        </button>
      </form>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}