p Hola #{username},
p Los emails de los líderes de equipo que podeis usar para seleccionar la hora del partido son: #{lider1} y #{lider2}
P Recordad seleccionar la hora en el sitio Web para aseguraros de que hay pistas disponibles
P Un saludo, el equipo de PadelGest