.header {
  overflow: hidden;
  display: flex;
  color: white;
  background: #1b2730fa;
  padding: 8px 5px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .header {
  padding-top: 102px;
}

.header > div {
  width: 50vw;
  padding: 8px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.header a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 8px;
  line-height: 25px;
  border-radius: 4px;
}

.header a:hover {
  text-decoration: none;
  color: #688ab6;
}

header a.logo {
  font-size: 42px;
  font-weight: bold;
}

.header-right {
  display: flex;
  padding-right: 10px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.header-right #show-user-connected-container {
  margin-right: 100px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}

.icons-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 15px;
  padding-top: 5px;
  color: white;
}

.header-right img {
  width: 35px;
  height: 35px;
}

.header-icons-container {
  display: flex;
  padding-right: 10px;
}

@media screen and (min-width: 0px) and (max-width: 650px) {
  .header {
    padding: 3px 5px;
  }

  .logo-container {
    margin-left: 14px;
  }

  .header a {
    font-size: 12px;
    padding: 2px;
    line-height: 12px;
    border-radius: 4px;
  }

  header a.logo {
    font-size: 26px;
  }

  .header-right {
    padding-right: 2px;
  }

  .header-right #show-user-connected-container {
    margin-right: 30px;
    font-size: 10px;
  }

  .header-right span {
    font-size: 12px;
  }

  .icons-text-container {
    padding-right: 5px;
  }

  .header-right img {
    width: 18px;
    height: 18px;
  }
}

@media screen and (min-width: 650px) and (max-width: 950px) {
  .header {
    padding: 4px 4px;
  }

  .logo-container {
    margin-left: 20px;
  }

  .header a {
    font-size: 14px;
    padding: 5px;
    line-height: 18px;
    border-radius: 4px;
  }

  header a.logo {
    font-size: 32px;
  }

  .header-right {
    padding-right: 5px;
  }

  .header-right #show-user-connected-container {
    margin-right: 60px;
    font-size: 11px;
  }
  .header-right span {
    font-size: 13px;
  }

  .icons-text-container {
    padding-right: 8px;
  }

  .header-right img {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 950px) and (max-width: 1050px) {
  .header {
    padding: 5px 4px;
  }

  .logo-container {
    margin-left: 24px;
  }

  .header a {
    font-size: 15px;
    padding: 6px;
    line-height: 20px;
    border-radius: 4px;
  }

  header a.logo {
    font-size: 35px;
  }

  .header-right {
    padding-right: 7px;
  }

  .header-right #show-user-connected-container {
    margin-right: 75px;
    font-size: 13px;
  }

  .header-right span {
    font-size: 14px;
  }

  .icons-text-container {
    padding-right: 10px;
  }

  .header-right img {
    width: 28px;
    height: 28px;
  }
}

@media screen and (min-width: 1050px) and (max-width: 1100px) {
  .header {
    padding: 6px 5px;
  }

  .logo-container {
    margin-left: 26px;
  }

  .header a {
    font-size: 16px;
  }

  header a.logo {
    font-size: 38px;
  }

  .header-right #show-user-connected-container {
    margin-right: 85px;
    font-size: 14px;
  }

  .header-right span {
    font-size: 15px;
  }

  .header-right img {
    width: 31px;
    height: 31px;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1200px) {
  .header {
    padding: 7px 5px;
  }

  .logo-container {
    margin-left: 28px;
  }

  .header a {
    font-size: 17px;
    padding: 7px;
    line-height: 22px;
    border-radius: 4px;
  }

  header a.logo {
    font-size: 40px;
  }

  .header-right {
    padding-right: 9px;
  }

  .header-right #show-user-connected-container {
    margin-right: 90px;
    font-size: 15px;
  }

  .header-right span {
    font-size: 16px;
  }

  .icons-text-container {
    padding-right: 12px;
  }

  .header-right img {
    width: 32px;
    height: 32px;
  }
}