@charset "UTF-8";

.logged-user-index-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 5vh;
  margin-top: 2vh;
}

.logged-user-index-container img {
  max-width: 250px;
  max-height: 250px;
  margin-top: 15px;
}

@media screen and (min-width: 720px) {
  .logged-user-index-container {
    padding-left: 150px;
    padding-right: 150px;
  }

  .logged-user-index-container img {
    max-width: 600px;
    max-height: 400px;
    margin-bottom: 40px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .logged-user-index-container {
    padding-left: 200px;
    padding-right: 200px;
  }

  .logged-user-index-container img {
    max-width: 800px;
    max-height: 600px;
    margin-bottom: 40px;
    margin-top: 20px;
  }
}

/*Styles to notLogged user*/
.index-notLogged-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.index-notLogged-container::after {
  content: "";
  background: url(../img/court.png),
    linear-gradient(
        to right,
        #807363 0%,
        #251d16 50%,
        #3f302b 75%,
        #100b09 100%
      )
      center center no-repeat fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  opacity: 0.75;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
}

.index-notLogged-text-container {
  color: white;
  background: #1b2730fa;
  padding: 50px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px #1414144d;
}

.index-notLogged-text-container span {
  font-size: 2em;
}

.index-notLogged-text-container p {
  font-size: 1.5em;
}

.index-notLogged-text-container a {
  text-decoration: none;
  color: #1a7040;
}
.index-notLogged-text-container a:hover {
  color: #00471f;
}
