{% extends 'layout.twig' %}

{% block body %}
<a href="/promotedInscription">Volver</a><br><!--Esto tendra que volver al index o donde?-->
<h3>Reservas pendientes</h3>
{% for book in myBooks %}
<h1>{{book.court_id}}</h1><h5>{{book.startDate}}</h5>
<form method=post action="/book/delete/{{book._id}}">
    <button type="submit">Eliminar</button> 
</form>
{% endfor %}

{% endblock %}