{% extends 'layout.twig' %}
{% include "header.twig" %}


{% block body %}
	{% include "navbar.twig" %}

    {% if position == 0 %}
    <h1 class="text-center">No has entrado al playoff</h1>
    {% else %}
    {% if group.clasificated and cant != 1 %}
    <h1 class="text-center">No has acabado el playoff</h1>
    {% else %}
    <h1 class="text-center">tu posicion es: {{position}}</h1>
    {% endif %}
    
    {% endif %}
    

{% endblock %}