{% extends 'layout.twig' %}
{% include "header.twig" %}


{% block body %}
{% include "navbar.twig" %}
{% for clasification in clasifications %}
<h1>{{clasification._id}}</h1>


{% endfor %}

{% endblock %}