{% extends 'layout.twig' %}
{% include "header.twig" %}


{% block body %}
	{% include "navbar.twig" %}

<div class="classification-container">
	<h2>Clasificación</h2>
	<table class="table">
		<thead class="black white-text">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Usuario</th>
				<th scope="col">Usuario</th>
				<th scope="col">Puntos</th>
			</tr>
		</thead>
		<tbody>
			{% for clasification in clasifications %}
				<tr>
					<th scope="row">{{loop.index}}</th>
					<td>{{clasification.user1_id}}</td>
					<td>{{clasification.user2_id}}</td>
					<td>{{clasification.points}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>


{% endblock %}
