{% extends 'layout.twig' %}

{% block body %}
<div class="tournament-add-container"> 
  <form method=POST action="/tournament/add">
    <input name="title">Título</input>
    <input name="description">Descripción</input>
    <input type="date" name="startDate">Fecha Inicio</input>
    <input type="date" name="finishDate">Fecha fin</input>
    <button>Añadir campeonato</button>
  </form>
</div>



</form>
{% endblock %}